body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h2 {
    color: #ff4d6d;
}

input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff2e63;
}

#error {
    color: red;
}